@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__span-accent/intro__span-accent.css);
.intro {
  max-width: 690px;
  min-height: 428px;
  margin: 114px 0 92px;
}
@media all and (max-width: 768px) {    
  .intro {        
    max-width: 720px;
    min-height: 428px;
    margin: 88px 24px 88px;
  }
}
@media all and (max-width: 320px) {    
  .intro {        
    max-width: 720px;
    min-height: 428px;
    margin: 64px 16px 64px;
  }
}