.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid white;
  color: white;
  display: inline-block;
  text-decoration: none;
}
.place__link:hover {
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}
@media all and (max-width: 320px) {    
  .place__link {        
    display: none;
  }
}