.container_width_wide {
  max-width: 1184px;
}
@media all and (max-width: 1024px) {    
  .container_width_wide {        
    max-width: 1024px;
    padding:0;
  }
}
@media all and (max-width: 768px) {    
  .container_width_wide {        
    max-width: 768px;
  }
}
@media all and (max-width: 320px) {    
  .container_width_wide {        
    max-width: 320px;
    
  }
}