.place__description {
  padding-top: 26px;
  padding-left: 40px;
}
@media all and (max-width: 1024px) {    
  .place__description {        
    padding-top: 26px;
    padding-left: 32px;   
  }
}
@media all and (max-width: 768px) {
  .place__description {        
    padding-top: 26px;
    padding-left: 28px; 
  }
}
@media all and (max-width: 320px) {
  .place__description {     
    padding-top: 32px;
    padding-left: 16px; 
  }
}